#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color:blueviolet
}
h2{
  color:brown
}

.tutifruti{
  h2{color:rgb(16, 14, 14)}
  background-color: rgb(117, 244, 244);
  
}